<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Proyectos
    </ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Proyectos</ion-title>
    </ion-toolbar>
  </ion-header>
 
  <div class="botones-container">
    <ion-button expand="block" color="primary" class="boton" (click)="Convertidor()">
      Convertidor Monedas
    </ion-button>
    <ion-button expand="block" color="secondary" class="boton" (click)="Calcu()">
      Calculadora
    </ion-button>
    <ion-button expand="block" color="tertiary" class="boton" (click)="quizz()">
      QUIZZ
    </ion-button>
   
  </div>
</ion-content>
